<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about/">About</a></li>
	        		<li><a href="/assets/pdf/resume.pdf" target="_blank">Resume</a></li>
	        		<li><a href="/projects/">Projects</a></li>
				<li><a href="https://zackfravel.bandcamp.com/" target="_blank">Music</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:mail@zackfravel.com">email me</a></li>
				<li><a href="https://www.linkedin.com/in/zackfravel/" target="_blank">linkedin</a></li>
	        		<li><a href="https://github.com/zackfravel/zackfravel.github.io" target="_blank">github repository</a></li>
				</ul>
			</footer>
		</body>
	</html>
